/* features.css */

.features-section {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.features-section h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: #e68312;
}

table th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #dc7e0c;
    color: #000000;
    font-weight: bold;
}

table td {
    background-color: #494949;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}
