/* search.css */

.search-section {
    background-color: #121111;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

.search-container {
    max-width: 600px;
    margin: 0 auto;
}

.search-container input {
    width: 60%;
    padding: 10px;
    font-size: 1em;
    border: 2px solid #ddd;
    border-radius: 8px;
    margin-right: 10px;
}


